<body>
  <div class="ui grid">
    <div class="stretched row">
      <div class="five wide column">
      </div>
      <div class="six wide column">
        <h1>Idea Box</h1>
        <div class="ui segment">
          <div class="ui cards" id="idea-column">
          </div>
      </div>
      </div>
      <div class="five wide column"><br><br><br>
        <form class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <label>Title</label>
              <input type="text" id="idea-title" name="idea-title" placeholder="Best Idea Ever">
            </div>
            <div class="field">
              <label>Idea</label>
              <textarea rows="2" id="idea-body" placeholder="Place your idea here."></textarea>
            </div>
            <button class="ui fluid large black button" id="create-idea">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
